@import '../../../styles/settings.scss';

.single-post-body {
    .share-btn-section {
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;
        }

        .share-button {
            display: flex;
        
            border: 1px solid #3b5998;
            border-radius: 3px;
            background-color: #3b5998;
            cursor: pointer;
            padding: 5px 10px;
            color: #fff;
            
            &:hover {
                opacity: 0.9; 
            }
        }
    }

    .fb-comments-section {
        width: 100% !important;
        display: flex;
        justify-content: flex-end;
    }
}
